<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a href="#" class="navbar-brand" style="padding-top:2px;">
        <img src="img/logo-main.png" style="height:45px;">
      </a>
    </div>

    <div class="collapse navbar-collapse bs-navbar-collapse" id="navbar-collapse-02">
      <ul class="nav navbar-nav navbar-right">           
        <li><a href="#init">Налаштування</a></li>
        <li><a href="#reset">Reset</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="margin-top:70px;">
  <div class="row">
    <div class="col-md-9">
      <form class="form-horizontal" role="form">
        <p>Ваші налаштування:</p>
        <div>
          <select class="form-control" ng-model="myCity" ng-options="c.key as c.title for c in cities"></select>
        </div>
        <br/>
        <div>
          <select class="form-control" ng-model="myOperator" ng-options="c.key as c.title for c in operators"></select>
        </div>

        <div style="margin-top:25px;">
            <button type="button" class="btn btn-primary save-config" ng-click='saveConfig()'>Зберегти</button>
            <a class="btn btn-default" href="#">Відмінити</a>
          </div>
        </form>
      </div>
  </div>
 
</div>