<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-02">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="#">HappyTaxi</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-02">
    <ul class="nav navbar-nav">           
      <li><a href="#init">Налаштування</a></li>
     </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="container" style="margin-top: 0px;">
	<div class="row">
		<p>Ваші налаштування:</p>
		<div>
			<select>
			  <option value="0">Львів</option>
			  <option value="1">Київ</option>
			   <option value="2">Харків</option>
			</select>
		</div>
		<div>
			<select>
			  <option value="0">Лайф</option>
			  <option value="1">Київстар</option>
			  <option value="2">Дджус</option>
			  <option value="3">Київстар</option>
			</select>
		</div>

		<div style="margin-top:25px;">
	    	<button type="button" class="btn btn-hg btn-primary btn-embossed btn-wide">Зберегти</button>
	    	<a class="btn btn-hg btn-default btn-embossed btn-wide" href="#">Відмінити</a>
    	</div>
	</div>
 
</div>