<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      <a href="/" class="navbar-brand" style="color: #563d7c;font-weight: 500;">HappyTaxi</a>
    </div>

    <div class="collapse navbar-collapse bs-navbar-collapse" id="navbar-collapse-02">
      <ul class="nav navbar-nav navbar-right">           
        <li><a href="#init">Налаштування</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div>
</nav>

<div class="container" style="margin-top:70px;">
  <div class="row">
    <div class="col-md-9">
      <form class="form-horizontal" role="form">
        <p>Ваші налаштування:</p>
        <div>
          <select class="form-control">
            <option value="0">Львів</option>
            <option value="1">Київ</option>
             <option value="2">Харків</option>
          </select>
        </div>
        <br/>
        <div>
          <select class="form-control">
            <option value="0">Лайф</option>
            <option value="1">Київстар</option>
            <option value="2">Дджус</option>
            <option value="3">Київстар</option>
          </select>
        </div>

        <div style="margin-top:25px;">
            <button type="button" class="btn btn-primary">Зберегти</button>
            <a class="btn btn-default" href="#">Відмінити</a>
          </div>
        </form>
      </div>
  </div>
 
</div>